In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ipldata/IPL Matches 2008-2020.csv')

In [3]:
df.shape

(816, 17)

In [4]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [5]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [8]:
df.value_counts('player_of_match').head(4)

player_of_match
AB de Villiers    23
CH Gayle          22
RG Sharma         18
MS Dhoni          17
dtype: int64

In [9]:
df.value_counts('winner')

winner
Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
dtype: int64

In [10]:
df.value_counts('toss_decision')

toss_decision
field    496
bat      320
dtype: int64

In [11]:
field = df[df['toss_decision'] == 'field']
bat = df[df['toss_decision'] == 'bat']

In [12]:
field.value_counts('winner')

winner
Mumbai Indians                 70
Kings XI Punjab                64
Kolkata Knight Riders          61
Royal Challengers Bangalore    60
Chennai Super Kings            51
Rajasthan Royals               44
Sunrisers Hyderabad            43
Delhi Daredevils               38
Deccan Chargers                15
Delhi Capitals                 14
Gujarat Lions                  11
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         3
Pune Warriors                   3
dtype: int64

In [14]:
df_1 = df[(df['toss_decision'] == 'field') & (df['winner'] == df['toss_winner'])]

In [15]:
df_1.shape

(273, 17)

In [16]:
df_2 = df[(df['toss_decision'] == 'bat') & (df['winner'] == df['toss_winner'])]

In [17]:
df_2.shape

(145, 17)