In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ipldata/IPL Matches 2008-2020.csv')

In [3]:
df.shape

(816, 17)

In [4]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [5]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [6]:
df.value_counts('player_of_match').head(4)

player_of_match
AB de Villiers    23
CH Gayle          22
RG Sharma         18
MS Dhoni          17
dtype: int64

In [7]:
df.value_counts('winner')

winner
Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
dtype: int64

In [8]:
df.value_counts('toss_decision')

toss_decision
field    496
bat      320
dtype: int64

In [9]:
field = df[df['toss_decision'] == 'field']
bat = df[df['toss_decision'] == 'bat']

In [10]:
field.value_counts('winner')

winner
Mumbai Indians                 70
Kings XI Punjab                64
Kolkata Knight Riders          61
Royal Challengers Bangalore    60
Chennai Super Kings            51
Rajasthan Royals               44
Sunrisers Hyderabad            43
Delhi Daredevils               38
Deccan Chargers                15
Delhi Capitals                 14
Gujarat Lions                  11
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         3
Pune Warriors                   3
dtype: int64

In [11]:
df_1 = df[(df['toss_decision'] == 'field') & (df['winner'] == df['toss_winner'])]

In [12]:
df_1.shape

(273, 17)

In [13]:
df_2 = df[(df['toss_decision'] == 'bat') & (df['winner'] == df['toss_winner'])]

In [14]:
df_2.shape

(145, 17)

In [16]:
df_2 = pd.read_csv('ipldata/IPL Ball-by-Ball 2008-2020.csv')

In [17]:
df_2.shape

(193468, 18)

In [18]:
df_2.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [19]:
six_df = df_2[df_2['batsman_runs'] == 6]

In [20]:
six_df.shape

(8902, 18)

In [22]:
pd.value_counts(six_df['batsman']).head()

CH Gayle          349
AB de Villiers    235
MS Dhoni          216
RG Sharma         214
V Kohli           202
Name: batsman, dtype: int64

In [23]:
wickets_df = df_2[df_2['is_wicket'] == 1]

In [24]:
wickets_df.shape

(9495, 18)

In [26]:
pd.value_counts(wickets_df['bowler']).head()

SL Malinga         188
DJ Bravo           175
A Mishra           169
PP Chawla          164
Harbhajan Singh    161
Name: bowler, dtype: int64

In [29]:
df_2.groupby('batsman')['batsman_runs'].sum()

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Dananjaya          4
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2750
Z Khan             117
Name: batsman_runs, Length: 537, dtype: int64

In [32]:
df_2.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
V Kohli      5878
SK Raina     5368
DA Warner    5254
RG Sharma    5230
S Dhawan     5197
Name: batsman_runs, dtype: int64

In [40]:
df_2.groupby(['batsman','id'])['batsman_runs'].sum().sort_values(ascending=False).head()

batsman         id
CH Gayle        598027     175
BB McCullum     335982     158
AB de Villiers  829795     133
KL Rahul        1216510    132
AB de Villiers  980987     129
Name: batsman_runs, dtype: int64

In [47]:
df_2[(df_2['batsman'] == 'V Kohli') & (df_2['bowler'] == 'Harbhajan Singh') & (df_2['is_wicket'] == 1)].shape[0]

1