In [1]:
import pandas as pd

In [3]:
summer_df = pd.read_csv('olympic-games/summer.csv')

In [4]:
summer_df.shape

(31165, 9)

In [5]:
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [6]:
summer_df.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [8]:
# 1. Which male athlete has won most medals ?
# 2. Which female athlete has won most medals ?
# 3. Which male & female athlete has won most gold ?
# 4. Which country has won most medals ?

In [9]:
male_df = summer_df[summer_df['Gender'] == 'Men']
female_df = summer_df[summer_df['Gender'] == 'Women']

In [11]:
pd.value_counts(male_df['Athlete']).head()

PHELPS, Michael         22
ANDRIANOV, Nikolay      15
SHAKHLIN, Boris         13
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
Name: Athlete, dtype: int64

In [12]:
pd.value_counts(female_df['Athlete']).head()

LATYNINA, Larisa     18
COUGHLIN, Natalie    12
FISCHER, Birgit      12
TORRES, Dara         12
THOMPSON, Jenny      12
Name: Athlete, dtype: int64

In [13]:
male_gold = male_df[male_df['Medal'] == 'Gold']

In [15]:
male_gold.shape

(7698, 9)

In [17]:
pd.value_counts(male_gold['Athlete']).head()

PHELPS, Michael    18
NURMI, Paavo        9
LEWIS, Carl         9
SPITZ, Mark         9
BIONDI, Matthew     8
Name: Athlete, dtype: int64

In [19]:
pd.value_counts(summer_df['Country']).head()

USA    4585
URS    2049
GBR    1720
FRA    1396
GER    1305
Name: Country, dtype: int64

In [20]:
# 1. In which year India started playing olympics ?
# 2. In which sports India has won most medals ?
# 3. Which Indian athlete has won most gold ?

In [21]:
ind_df = summer_df[summer_df['Country'] == 'IND']

In [22]:
ind_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
241,1900,Paris,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200M,Silver
244,1900,Paris,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200M Hurdles,Silver
5512,1928,Amsterdam,Hockey,Hockey,"ALLEN, Richard James",IND,Men,Hockey,Gold
5513,1928,Amsterdam,Hockey,Hockey,"CHAND, Dyan",IND,Men,Hockey,Gold
5514,1928,Amsterdam,Hockey,Hockey,"GATELEY, Maurice A.",IND,Men,Hockey,Gold

In [23]:
pd.value_counts(ind_df['Sport'])

Hockey           169
Shooting           4
Wrestling          4
Athletics          2
Boxing             2
Tennis             1
Weightlifting      1
Badminton          1
Name: Sport, dtype: int64