In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pandas
import pymysql

In [12]:
connection = pymysql.connect(host = 'localhost', user = 'root',
                            port = 3306, database = 'movie_db')

In [13]:
connection

In [14]:
query = "select * from movies"
df = pandas.read_sql(query, connection)

In [15]:
df.head()

,m_id,m_name,m_image,m_desc,m_category,m_rating
0,101,The Nun (2018),https://m.media-amazon.com/images/M/MV5BMjM3Nz...,A priest with a haunted past and a novice on t...,"Horror,Mystery,Thriller",5
1,102,Central Intelligence (2016),https://m.media-amazon.com/images/M/MV5BMjA2Nz...,After he reconnects with an awkward pal from h...,"Action, Comedy, Crime",6
2,103,K.G.F: Chapter 1 (2018),https://m.media-amazon.com/images/M/MV5BNDIwMD...,"Set in the 1970s, it's the story of a fierce r...","Action, Drama",8
3,104,Total Dhamaal (2019),https://m.media-amazon.com/images/M/MV5BMTdiN2...,A group of people learn about a hidden treasur...,"Action, Adventure, Comedy",4
4,105,Mission: Impossible - Fallout (2018),https://m.media-amazon.com/images/M/MV5BNjRlZm...,"Ethan Hunt and his IMF team, along with some f...","Action, Adventure, Thriller",8

In [16]:
query = "select m_id, m_name, m_rating, m_category from movies"
df = pandas.read_sql(query, connection)

In [17]:
df

,m_id,m_name,m_rating,m_category
0,101,The Nun (2018),5,"Horror,Mystery,Thriller"
1,102,Central Intelligence (2016),6,"Action, Comedy, Crime"
2,103,K.G.F: Chapter 1 (2018),8,"Action, Drama"
3,104,Total Dhamaal (2019),4,"Action, Adventure, Comedy"
4,105,Mission: Impossible - Fallout (2018),8,"Action, Adventure, Thriller"
5,106,Avengers: Endgame (2019),9,"Action, Adventure, Sci-Fi"
6,107,Spider-Man: Far from Home (2019),8,"Action, Adventure, Sci-Fi"
7,108,Dumb and Dumber (1994),7,Comedy
8,109,The Conjuring (2013),7,"Horror, Mystery, Thriller"
9,110,Arjun Reddy (2017),8,"Action, Drama, Romance"

In [18]:
query = "select m_id, m_name, m_rating, m_category from movies where m_rating > 7"
df = pandas.read_sql(query, connection)

In [19]:
df

,m_id,m_name,m_rating,m_category
0,103,K.G.F: Chapter 1 (2018),8,"Action, Drama"
1,105,Mission: Impossible - Fallout (2018),8,"Action, Adventure, Thriller"
2,106,Avengers: Endgame (2019),9,"Action, Adventure, Sci-Fi"
3,107,Spider-Man: Far from Home (2019),8,"Action, Adventure, Sci-Fi"
4,110,Arjun Reddy (2017),8,"Action, Drama, Romance"